.texto-grande {
    font-family: "Climate Crisis", sans-serif;
    position: absolute;
    font-size: 150px;
    font-weight: 900;
    color: #9a8b84;
    top: 20%;
    left: 5%;
    z-index: 0;
}


.intro-info {
    position: absolute;
    bottom: 50px;
    left: 10%;
}

#intro-img {
    margin-bottom: 25px;
}

#bloco-intro {
    position: relative;
    z-index: 1;

}

#bloco-intro img {
    width: 350px;
    transition: 0.5s;
    border-radius: 40px;
}


.pequeno {
    opacity: 0.6;
    font-size: 14px;
}

.descricao {
    max-width: 300px;
}